@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heart-mask {
  -webkit-mask-image: url("./img/user_image_frame_1.png");
   mask-image: url("./img/user_image_frame_1.png");
  -webkit-mask-repeat: no-repeat;
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}
.square-mask {
  -webkit-mask-image: url("./img/user_image_frame_2.png");
   mask-image: url("./img/user_image_frame_2.png");
  -webkit-mask-repeat: no-repeat;
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}
.circle-mask {
  -webkit-mask-image: url("./img/user_image_frame_3.png");
   mask-image: url("./img/user_image_frame_3.png");
  -webkit-mask-repeat: no-repeat;
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}
.rectangle-mask {
  -webkit-mask-image: url("./img/user_image_frame_4.png");
   mask-image: url("./img/user_image_frame_4.png");
  -webkit-mask-repeat: no-repeat;
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

